{% extends "base.html" %}
{% block titulo %}Herramientas{% endblock %}
{% block contenido %}

<section class="container pt-4">
    <div class="row">
        <div class="col-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Indice de Masa Corporal (IMC)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Que es el Indice de Masa Corporal</h5>
                    <p>El IMC sirve para identificar si una persona esta en su peso ideal, esta por debajo o por arriba de lo adecuado. </p>
                    <div class="row mb-3">
                        <div class="col-8 text-start">
                            <label for="imc" class="form-label fw-medium">Calcula tu IMC</label>
                            <input type="text" class="form-control" id="imc" name="imc" required
                                placeholder="Ingresa tu edad" value="{{ request.form.get('peso', '')}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8 text-start">
                                <select class="form-select" id="imc" name="imc" required>
                                    <option value="" selected disabled>Selecciona tu Género</option>
                                    <option value="hombre">Hombre</option>
                                    <option value="mujer">Mujer</option>
                                </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8 text-start">
                            <input type="text" class="form-control" id="imc" name="imc" required
                                placeholder="Ingresa tu peso" value="{{ request.form.get('peso', '')}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8 text-start">
                            <input type="text" class="form-control" id="imc" name="imc" required
                                placeholder="Ingresa tu altura" value="{{ request.form.get('peso', '')}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}