{% extends "base.html" %}

{% block titulo %}Herramientas{% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Índice de Masa Corporal (IMC)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es el Índice de Masa Corporal?</h5>
                    <p>El IMC sirve para identificar si una persona está en su peso ideal.</p>
                    <form method="POST" action="{{ url_for('cal_imc') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="edad_imc" name="edad_imc" required
                                    placeholder="Ingresa tu edad"
                                    value="{{ datos_usuario.edad if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="genero_imc" name="genero_imc" required>
                                    <option value="" selected disabled>Selecciona tu Género</option>
                                    <option value="hombre" {{ 'selected' if datos_usuario.genero=='hombre' else '' }}>
                                        Hombre</option>
                                    <option value="mujer" {{ 'selected' if datos_usuario.genero=='mujer' else '' }}>
                                        Mujer</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="peso_imc" name="peso_imc" required
                                    placeholder="Ingresa tu peso (kg)"
                                    value="{{ datos_usuario.peso if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="altura_imc" name="altura_imc" required
                                    placeholder="Ingresa tu altura (cm)"
                                    value="{{ datos_usuario.altura if datos_usuario else '' }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular IMC</button>
                    </form>
                    {% if resultado_imc %}
                    <div class="alert alert-success mt-3">
                        {{ resultado_imc|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/imc.jpeg') }}" class="img-fluid rounded-4"
                alt="IMC.">
        </div>
    </div>

    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Tasa Metabólica Basal (TMB)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es la Tasa Metabólica Basal?</h5>
                    <p>La TMB son las calorías que tu cuerpo quema en reposo.</p>
                    <form method="POST" action="{{ url_for('cal_tmb') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="edad_tmb" name="edad_tmb" required
                                    placeholder="Ingresa tu edad"
                                    value="{{ datos_usuario.edad if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="genero_tmb" name="genero_tmb" required>
                                    <option value="" selected disabled>Selecciona tu Género</option>
                                    <option value="hombre" {{ 'selected' if datos_usuario.genero=='hombre' else '' }}>
                                        Hombre</option>
                                    <option value="mujer" {{ 'selected' if datos_usuario.genero=='mujer' else '' }}>
                                        Mujer</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="peso_tmb" name="peso_tmb" required
                                    placeholder="Ingresa tu peso (kg)"
                                    value="{{ datos_usuario.peso if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="altura_tmb" name="altura_tmb" required
                                    placeholder="Ingresa tu altura (cm)"
                                    value="{{ datos_usuario.altura if datos_usuario else '' }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular TMB</button>
                    </form>
                    {% if resultado_tmb %}
                    <div class="alert alert-info mt-3">
                        {{ resultado_tmb|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/tmb.jpg') }}" class="img-fluid rounded-4"
                alt="TMB.">
        </div>
    </div>

    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Gasto Calórico Total (GCT)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es el Gasto Calórico Total?</h5>
                    <p>El GCT incluye tu TMB más las calorías de actividad física. Son la cantidad total de calorias que
                        tu cuerpo quema en un dia.</p>
                    <form method="POST" action="{{ url_for('cal_gct') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="tmb_gct" name="tmb_gct" required
                                    placeholder="Ingresa tu TMB" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="actividad_gct" name="actividad_gct" required>
                                    <option value="" selected disabled>Nivel de Actividad</option>
                                    <option value="sedentario" {{ 'selected' if
                                        datos_usuario.nivel_actividad=='sedentario' else '' }}>Sedentario</option>
                                    <option value="ligero" {{ 'selected' if datos_usuario.nivel_actividad=='ligero'
                                        else '' }}>Ligero</option>
                                    <option value="moderado" {{ 'selected' if datos_usuario.nivel_actividad=='moderado'
                                        else '' }}>Moderado</option>
                                    <option value="activo" {{ 'selected' if datos_usuario.nivel_actividad=='activo'
                                        else '' }}>Activo</option>
                                    <option value="atleta">Atleta</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular GCT</button>
                    </form>
                    {% if resultado_gct %}
                    <div class="alert alert-warning mt-3">
                        {{ resultado_gct|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/gct.png') }}" class="img-fluid rounded-4"
                alt="GCT.">
        </div>
    </div>

    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Peso Corporal Ideal</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es el Peso Corporal Ideal?</h5>
                    <p>Es el peso considerado saludable para tu estatura y complexión física.</p>
                    <form method="POST" action="{{ url_for('cal_peso_ideal') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="altura_pci" name="altura_pci" required
                                    placeholder="Ingresa tu altura (cm)"
                                    value="{{ datos_usuario.altura if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="genero_pci" name="genero_pci" required>
                                    <option value="" selected disabled>Selecciona tu Género</option>
                                    <option value="hombre" {{ 'selected' if datos_usuario.genero=='hombre' else '' }}>
                                        Hombre</option>
                                    <option value="mujer" {{ 'selected' if datos_usuario.genero=='mujer' else '' }}>
                                        Mujer</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="complexion_pci" name="complexion_pci" required>
                                    <option value="" selected disabled>Tipo de Complexión</option>
                                    <option value="pequena">Complexión Pequeña</option>
                                    <option value="mediana">Complexión Mediana</option>
                                    <option value="grande">Complexión Grande</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular Peso Ideal</button>
                    </form>
                    {% if resultado_peso_ideal %}
                    <div class="alert alert-success mt-3">
                        {{ resultado_peso_ideal|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/psc.png') }}" class="img-fluid rounded-4"
                alt="Peso corporal ideal.">
        </div>
    </div>

    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Macronutrientes</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué son los Macronutrientes?</h5>
                    <p>Son proteínas, carbohidratos y grasas de tu dieta.</p>
                    <form method="POST" action="{{ url_for('cal_macronutrientes') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="calorias_macro" name="calorias_macro"
                                    required placeholder="Ingresa tus calorías diarias" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="objetivo_macro" name="objetivo_macro" required>
                                    <option value="" selected disabled>Selecciona tu Objetivo</option>
                                    <option value="perder" {{ 'selected' if datos_usuario.objetivo=='perder' else '' }}>
                                        Perder Peso</option>
                                    <option value="mantener" {{ 'selected' if datos_usuario.objetivo=='mantener' else ''
                                        }}>Mantener Peso</option>
                                    <option value="ganar" {{ 'selected' if datos_usuario.objetivo=='ganar' else '' }}>
                                        Ganar Masa Muscular</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="actividad_macro" name="actividad_macro" required>
                                    <option value="" selected disabled>Nivel de Actividad</option>
                                    <option value="sedentario" {{ 'selected' if
                                        datos_usuario.nivel_actividad=='sedentario' else '' }}>Sedentario</option>
                                    <option value="ligero" {{ 'selected' if datos_usuario.nivel_actividad=='ligero'
                                        else '' }}>Ligero</option>
                                    <option value="moderado" {{ 'selected' if datos_usuario.nivel_actividad=='moderado'
                                        else '' }}>Moderado</option>
                                    <option value="activo" {{ 'selected' if datos_usuario.nivel_actividad=='activo'
                                        else '' }}>Activo</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular Macronutrientes</button>
                    </form>
                    {% if resultado_macronutrientes %}
                    <div class="alert alert-info mt-3">
                        {{ resultado_macronutrientes|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/macro.jpg') }}" class="img-fluid rounded-4"
                alt="Macronutrientes, pan, carne, grasas.">
        </div>
    </div>

    <div class="row mb-4 justify-content-center text-center">
        <div class="col-8 text-center">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Analizador de Recetas o Platos</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué puedes hacer aquí?</h5>
                    <p>Analiza el valor nutricional de tus recetas o encuentra recetas por ingrediente (en inglés).</p>
                    <form method="POST" action="{{ url_for('analizar_receta') }}" class="mb-4">
                        <div class="row mb-3">
                            <div class="col-12 text-start">
                                <label for="titulo_receta" class="form-label">Título de la Receta:</label>
                                <input type="text" class="form-control" id="titulo_receta" name="titulo_receta"
                                    placeholder="Ej: Chicken Rice Bowl" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 text-start">
                                <label for="texto_receta" class="form-label">Ingredientes:</label>
                                <textarea class="form-control" id="texto_receta" name="texto_receta" rows="3"
                                    placeholder="Ej: 2 eggs, 1 cup rice, 200g chicken, 1 onion..." required></textarea>
                                <div class="form-text">Ingresa los ingredientes en <strong>inglés</strong> para mejor
                                    resultado.<br> Ejemplo: "2 eggs, 1 cup rice, 200g chicken, 1 onion"</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Analizar Receta</button>
                    </form>
                    <form method="POST" action="{{ url_for('buscar_receta') }}">
                        <div class="row mb-3">
                            <div class="col-12 text-start">
                                <label for="ingrediente_receta" class="form-label">Buscar Recetas:</label>
                                <input type="text" class="form-control" id="ingrediente_receta"
                                    name="ingrediente_receta" placeholder="Ej: chicken, rice, avocado..." required>
                                <div class="form-text">Busca recetas que contengan este ingrediente (en inglés).</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Buscar Recetas</button>
                    </form>
                    {% if resultado_receta %}
                    <div class="alert alert-info mt-3">
                        {{ resultado_receta|safe }}
                    </div>
                    {% endif %}
                    {% if resultado_busqueda_receta %}
                    <div class="alert alert-success mt-3">
                        {{ resultado_busqueda_receta|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
