{% extends "base.html" %}
{% block titulo %}Herramientas{% endblock %}
{% block contenido %}

<section class="container pt-4">
    <div class="row">
        <div class="col-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Indice de Masa Corporal (IMC)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Por qué hay tantas dietas de moda?</h5>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
