{% extends "base.html" %}

{% block titulo %}Banco de recetas{% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="row mb-4 justify-content-center text-center">
        <div class="col-8 text-center">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Analizador de Recetas o Platos</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué puedes hacer aquí?</h5>
                    <p>Analiza el valor nutricional de tus recetas o encuentra recetas por ingrediente (en inglés).</p>
                    <form method="POST" action="{{ url_for('buscar_receta2') }}">
                        <div class="row mb-3">
                            <div class="col-12 text-start">
                                <label for="ingrediente_receta" class="form-label">Buscar Recetas:</label>
                                <input type="text" class="form-control" id="ingrediente_receta"
                                    name="ingrediente_receta" placeholder="Ej: chicken, rice, avocado..." required>
                                <div class="form-text">Busca recetas que contengan este ingrediente (en inglés).</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Buscar Recetas</button>
                    </form>
                    {% if resultado_receta %}
                    <div class="alert alert-info mt-3">
                        {{ resultado_receta|safe }}
                    </div>
                    {% endif %}
                    {% if resultado_busqueda_receta %}
                    <div class="alert alert-success mt-3">
                        {{ resultado_busqueda_receta|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
